@model List<SpelarPortalenMVC1.Models.AllFixtures>

@{
    ViewBag.Title = "Fixtures";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link href="~/Style/StyleSheetALL.css" rel="stylesheet" />

<div>

    <h1 style="text-align:center"> Fixtures </h1>

    <table class="teamTable" align="center">
        <tr>
            <th> Home-Team: </th>
            <th> Away-Team: </th>
            <th> Result: </th>
            <th> Referee: </th>
            <th> Date: </th>
            <th> Location </th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td> @item.JHomeTeamName </td>
                <td> @item.JAwayTeamName </td>
                <td> @item.JResult  </td>
                <td> @item.JReferee </td>
                <td> @item.JDate.ToUniversalTime().ToShortDateString() @item.JDate.ToUniversalTime().ToShortTimeString()</td>
                <td> @item.JArena</td>
            </tr>

        }
    </table>

</div>


