@model List<SpelarPortalenMVC1.Models.Player>
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link href="~/Style/StyleSheetALL.css" rel="stylesheet" />

<div>

    <h1 style="text-align:center"> Team of Surte IS FK </h1>

    <table class="teamTable" align="center">
        <tr>
            <th> First name: </th>
            <th> Surname: </th>
            <th> Birthdate: </th>
            <th> Position: </th>
            <th> Shirt number: </th>
            <th> Yellow Cards: </th>
            <th> Red Cards: </th>
            <th> Status: </th>
            <th> Goals: </th>
            <th> Assists: </th>
        </tr>

        @foreach (var item in Model)
        {
            // convert DateTime to string, more readable
            string birthPlayer = item.BirthDate.ToString("yyyy/MM/dd");

            // injured?
            string StatusInjured = "";

            if (item.Injured)
            {
                StatusInjured = "Not available";
            }
            else
            {
                StatusInjured = "Available";
            }

        <tr>
            <td> @item.FirstName </td>
            <td> @item.Surname </td>
            <td> @birthPlayer   </td>
            <td> @item.Position </td>
            <td> @item.ShirtNumber </td>
            <td> @item.YellowCards </td>
            <td> @item.RedCards </td>
            <td> @StatusInjured </td>
            <td> @item.Goals </td>
            <td> @item.Assists </td>
        </tr>

        }
    </table>

</div>

