@model SpelarPortalenMVC1.Models.MatchDayModel

@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}
<link href="~/Style/StyleSheetALL.css" rel="stylesheet" />

<div class="divContentLeft">

    <h1 style="align-content:center"> Current Lineup</h1>

    <table>
        <tr>
            <th> First name </th>
            <th> Surname</th>
            <th> Shirt number </th>
            <th> Position </th>
        </tr>
        
        @foreach (var item in Model.squadPlayers)
        {
            <tr>
                <td> @item.FirstName </td>
                <td> @item.Surname </td>
                <td> @item.ShirtNumber </td>
                <td> @item.Position </td>
            </tr>
        }
    </table>

</div>


<div class="divContentRight" style="float:right">


    <table class="nextGame" style="float:right">

        <tr><th> Next games</th></tr>

        <tr>
            <th> Next Home-game </th>
        </tr>

        <tr>
            <td> @Model.FixtureHome.Date | @Model.FixtureHome.Referee</td>
        </tr>


        <tr> <td></td></tr>

        <tr>
            <th> Next Away-game </th>
        </tr>

        <tr>
            <td> @Model.FixtureAway.Date | @Model.FixtureAway.Referee</td>
        </tr>
    </table>

    <table style="float:unset">
        <tr><th colspan="5">All games</th></tr>

        <tr>
            <th> Home-Team:</th>
            <th> Away-Team: </th>
            <th> Date: </th>
            <th> Result: </th>
            <th> Referee: </th>
            <th> Location: </th>
        </tr>

        @foreach (var item in Model.FixtureList)
        {
            <tr>
                
                <td>@item.JHomeTeamName</td>
                <td>@item.JAwayTeamName</td>
                <td>@item.JDate</td>
                <td>@item.JResult</td>
                <td>@item.JReferee</td>
                <td>@item.JArena</td>

            </tr>
        }
    </table>



</div>



