@model SpelarPortalenMVC1.Models.PlayerLeagueVM
@{
    ViewBag.Title = "TopScorers";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link href="~/Style/StyleSheetALL.css" rel="stylesheet" />

<div>

    <h1 style="text-align:center"> Golden Leagues </h1>

    <table class="scoreTable" align="left">
        <tr> <th colspan="4">Goal League </th></tr>
        <tr>
            <th> Team: </th>
            <th> First name: </th>
            <th> Surname: </th>
            <th> Goals: </th>
        </tr>

        <!--order table by goals-->
        @foreach (var item in Model.ListPlayers.OrderByDescending(g => g.PGoals))
        {

            <tr>
                <td>@item.PTeamName</td>
                <td>@item.PFirstName</td>
                <td>@item.PSurname</td>
                <td>@item.PGoals</td>
            </tr>
        }
    </table>

    <table class="assistTable" align="right">
        <tr> <th colspan="4">Assist League </th></tr>
        <tr>
            <th> Team: </th>
            <th> First name: </th>
            <th> Surname: </th>
            <th> Assist: </th>
        </tr>

        <!--order table by assists-->
        @foreach (var item in Model.ListPlayers.OrderByDescending(a => a.PAssists))
        {

            <tr>
                <td>@item.PTeamName</td>
                <td>@item.PFirstName</td>
                <td>@item.PSurname</td>
                <td>@item.PAssists</td>
            </tr>

        }
    </table>

</div>

