@{
    if (Session["UserLogged"] == null)
    {
        // status text for user to se if logged in - based on created session
        ViewBag.IsLoggedIn = "Logga in för utökad behörighet...";
        ViewBag.StatusLogin = "Logga in";
    }
    else
    {
        ViewBag.IsLoggedIn = "Inloggad som: ";
        ViewBag.StatusLogin = "Logga ut";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Style/GlobalCss.css">

</head>
<body>
    <header>
        <p style="text-align:right;"> @ViewBag.IsLoggedIn @Session["UserLogged"]</p>
        <h1> Skolskjutsen </h1>  
    </header>
    <nav>
        @Html.ActionLink("Hem", "Index")
        @Html.ActionLink("Boka skjuts", "Boka")
        @Html.ActionLink("Publicera skjuts", "Publicera")
        @Html.ActionLink((string)ViewBag.StatusLogin, "LogIn")
    </nav>
    <div class="BodyDiv">
        @RenderBody()
    </div>
    <footer>
        <p>Skapad av Jonathan Carlberg & Simon Sedig | För Högskolan Väst</p>        
    </footer>
</body>

</html>
