@model Skolskjuts_etjanst.Models.ViewModelBookings
@{
    //check session logged in - if not redirect user
    if (Session["UserLogged"] == null)
    {
        Response.RedirectPermanent("Index");
    }

    ViewBag.Title = "Boka";
    Layout = "~/Views/_LayoutPageAll.cshtml";
}

<h2>Boka</h2>

        <table>

            <tr>
                <th>Avgångstid</th>
                <th>Chafför</th>
                <th>Avgångsplats</th>
                <th>Destination</th>
                <th>Passagerare</th>
                <th> </th>
            </tr>


            @foreach (var item in Model.AllBookingsList)
            {
                <tr>
                    <td>@item.LeavingTime</td>
                    <td>@item.Driver</td>
                    <td>@item.PickUpZone</td>
                    <td>@item.Destination</td>
                    <td>@item.Customer</td>
                    <td>
                        <a href="@Url.Action("Bokat", "Home", new { id = item.TransactionId })" class="btn btn-warning" role="button">Boka</a>
                    </td>
                </tr>
            }
        </table >


<br />
<hr />

<h2> Bokade skjutser </h2>

<table>

    <tr>
        <th>Avgångstid</th>
        <th>Chafför</th>
        <th>Avgångsplats</th>
        <th>Destination</th>
        <th>Passagerare</th>
    </tr>

    @foreach (var item in Model.CustomerCurrentBookingList)
    {
        <tr>
            <td>@item.LeavingTime</td>
            <td>@item.Driver</td>
            <td>@item.PickUpZone</td>
            <td>@item.Destination</td>
            <td>@item.Customer</td>
        </tr>
    }

</table>

