@model Skolskjuts_etjanst.Models.ViewModelBookings
@{
    //check session logged in +admin - if not redirect user
    if (Session["UserLogged"] == null || Session["IsAdmin"] == null)
    {
        Response.RedirectPermanent("Index");
    }

    ViewBag.Title = "Publicera";
    Layout = "~/Views/_LayoutPageAll.cshtml";
}

<h2>Publicera</h2>

@using (Html.BeginForm())
{
    @*Create form with POST-attribute*@
<form method="POST" action="">

    <h3> Tid för bokning: </h3> @Html.DropDownListFor(x => x.newBooking.LeavingTime, new SelectList(Model.timeOfBooking), "-- Välj tid --")
    <br />
    <h3> Avgångsadress:</h3> @Html.TextBoxFor(m => m.newBooking.PickUpZone, new { placeholder = "Avgångsplats.." })
    <br />
    <h3> Destination: </h3> @Html.TextBoxFor(m => m.newBooking.Destination, new { placeholder = "Destination.." })
    <br />  
    <br />
    <input type="submit" class="SubmitBtn" value="Publicera körning" />
</form>
}
<br />
@Html.ValidationMessage("orderKey")

<br />
<hr />

<h2> Dina körningar </h2>

<table>

    <tr>
        <th>Avgångstid</th>
        <th>Chafför</th>
        <th>Avgångsplats</th>
        <th>Destination</th>
        <th>Passagerare</th>
        <th> </th>
    </tr>

    @foreach (var item in Model.CustomerCurrentBookingList)
    {
        <tr>
            <td>@item.LeavingTime</td>
            <td>@item.Driver</td>
            <td>@item.PickUpZone</td>
            <td>@item.Destination</td>
            <td>@item.Customer</td>
            <td>
                <a href="@Url.Action("Avbokat", "Home", new { id = item.TransactionId })" class="btn btn-warning" role="button">Avboka</a>
            </td>
        </tr>
    }

</table>


