@{
    Layout = null;
    
    // return logged in user
    string loggedUser()
    {
        // keep empty to fill with new string

        string newString = "";

        string currentUser = User.Identity.Name;

        for (int i = 0; i < currentUser.Length; i++)
        {
            if (i == 0)
            {
                // convert first char to big
                char tempChar = Char.ToUpper(currentUser[i]);

                // add to string
                newString += tempChar;
            }
            else
            {
                // add normal w/o convert to upper
                char tempChar = currentUser[i];

                // add to string
                newString += tempChar;
            }
        }
        return newString;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Football Locker!</title>
    <link rel="shortcut icon" type="image/png" href="~/Icons/favicon.png">
    <link href="~/Style/StyleSheet1.css" rel="stylesheet" />

</head>

<body>

    @*header displays title + icon*@
    <header style="background:darkgreen">
        <div class="headerDiv">
            <img src="~/Icons/icon.png" />
            <h1>  Football Locker </h1>
        </div>
    </header>
    <br />
    <nav>
        <ul>
            <li><a href="@Url.Action("Start", "Home")">Start</a></li>
            <li><a href="@Url.Action("MyProfile", "Home")">Our Team</a></li>
            <li><a href="@Url.Action("Table", "Home")">League table</a></li>
            <li><a href="@Url.Action("Fixtures", "Home")">Fixtures</a></li>
            <li><a href="@Url.Action("TopScorers", "Home")">Assist and scorers league</a></li>
            <li style="background: #8b4000"><a href="@Url.Action("LoginPage", "Home")">Log out</a></li>
            <li class="loggedUser"> Welcome @loggedUser()!</li>
        </ul>
    </nav>

    @* used to level div so it wont hide behind nav-bar*@
    <br />
    <br />
    <br />

    <div class="divBody">
        @RenderBody()
    </div>

    <br />

    <footer class="myFooter">
        <div class="myFootContent">
            <p> Skapad av Jonathan Carlberg och Simon Sedig. Trollhättan, Högskolan Väst 2018 | Systemutveckling 16'. </p>

            @*Show current time with JavaScript*@
            <p id=currentTime />

        </div>
    </footer>

</body>

</html>

<script>
    // Show today's date

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }

    today = "Dagens datum: " + mm + '/' + dd + '/' + yyyy;
    document.getElementById("currentTime").innerHTML = today;
</script>